.container {
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: .05em solid #777;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
}

.container:focus {
    border-color: hsl(200, 100%, 50%);
}

.placeholder {
    color: #888;
}

.values {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
}

.caret {
    border: .25em solid transparent;
    border-top-color: #777;
}

.optionsSelect {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    border: .05em solid #777;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: white;
    z-index: 100;
}

.show {
    display: block;
}

.optionSelect {
    padding: .25em .5em;
    cursor: pointer;
}

.selected {
    background-color: hsl(200, 100%, 70%);
}

.highlighted {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.search-input {
    padding: .25em .5em;
    margin: 0;
    width: 100%;
    border: none;
}

.search-input:focus {
    outline: none;
}

.search-bar {
    display: flex;
    width: 100%;
}

.option-badge {
    display: flex;
    align-items: center;
    border: .1em solid #777;
    border-radius: .25em;
    padding: .15em .25em;
    gap: .25em;
    cursor: pointer;
    background: none;
    outline: none;
}

.option-badge:hover,
.option-badge:focus {
    color: hsl(132, 93%, 21%);
    border-color: hsl(132, 93%, 21%);
}

.option-badge:hover>.remove-btn,
.option-badge:focus>.remove-btn {
    color: hsl(132, 93%, 21%);
}

.option-badge>.remove-btn {
    font-size: 1.25em;
    color: #777;
}

.option-badge>.remove-btn:hover {
    /* An effect to precise it's ONLY by clicking the cross it's working */
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.clear-btn {
    color: #a13c3c;
    cursor: pointer;
}